.body{
    height: 100%;
    width: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin: 0%;
}
.LogoEad{
    height: 5%;
    width: 5%;
    display: inline-block;
    vertical-align: center;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
}
.navigasi{
    width: 100%;
    background-color: whitesmoke;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1;

}
.navigasi a{
    color:black;
    text-align: justify;
    font-size: 15px;
    padding: 1% 1%;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navigasi a:hover{
    color:bisque;
    background-color: rgb(218, 89, 111);
}
h1{
    text-align: center;
    justify-content: center;
    font-size: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    text-align: center;
    justify-content: center;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.youtube{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.column{
    width: 40%;
    text-align: justify;
    justify-content: center;
    float:right;
    margin-left: 7%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.TentangKami{
    background-color:whitesmoke;
}
.LokasiKami{
    background-color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.JenisMobil{
    background-color: whitesmoke;

}



